<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index/index.css">
    <link rel="stylesheet" href="/css/common/nav.css">
</head>
<body>
	test

    <!-- nav -->
    <div class="d-flex flex-row-reverse">
        <nav class="navbar">
            <div class="container-fluid">
                <div id="nav-bell">
                    <div class="btn-group">
                        <img class="dropdown-toggle" src="/img/bell.png" data-bs-toggle="dropdown" aria-expanded="false" alt="">
                        <ul class="dropdown-menu dropdown-menu-end" style="width: 300px; margin-top: 15px">
                            <li><a class="dropdown-item">알림</a></li>
                            <li><hr class="dropdown-divider"></li>
                        </ul>
                    </div>
                </div>
                <div id="nav-member">
                    <div class="btn-group">
                    <img class="dropdown-toggle" src="" data-bs-toggle="dropdown" aria-expanded="false" alt="프로필 이미지" onerror="this.onerror=null; this.src='/img/profile-user.png';">
                        <ul class="dropdown-menu dropdown-menu-end" style="margin-top: 15px">
                            <li><a class="dropdown-item">마이페이지</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#moimModal">모임 추가</a></li>
                            <li><a class="dropdown-item">소모임 추가</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
<!--                <a class="navbar-brand" href="#">로그인</a>-->
<!--                <a class="navbar-brand" href="#">회원가입</a>-->
            </div>
        </nav>
    </div>

    <!-- header -->
    <div id="index-header" class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <img src="/img/logo.png" style="border-radius: 30px; width: 250px; height: 150px" alt="">
            </div>
        </div>
    </div>

    <!-- 카테고리 리스트 -->
    <div id="index-content" class="container text-center" style="overflow: auto">
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div th:each="cat,idx : ${list}" class="col cat-col">
                <div class="card h-100">
                    <img th:src="${cat.photo}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${cat.name}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <p class="h2" style="margin-bottom: 0">지역</p>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="location label">
                        <button type="button" class="btn btn-light loc-btn"><</button>
                        <button type="button" class="btn btn-light loc-btn">></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 지역 선정 영역 -->
    <div id="index-local" class="container" style="margin-top: 10px">
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div th:each="local : ${localList}" class="col cat-col localIdx">
                <div class="card h-100">
                    <img th:src="@{/img/loc_logo/} + ${local.ename} + @{.svg}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${local.name}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal::모임 추가 모달 -->
    <div class="modal fade" id="moimModal" tabindex="-1" aria-labelledby="moimModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle">모임 추가</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="f">
                        <!-- 카테고리 선택 -->
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">카테고리</label>
                            <div class="dropdown">
                                <input name="categoryNo" type="hidden" value="">
                                <button id="categoryName" class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    선택
                                </button>
                                <ul class="dropdown-menu" style="max-height: 100px; overflow: auto">
                                    <li th:each="cat : ${list}">
                                        <a class="dropdown-item" th:onclick="categoryChange([[${cat.name}]], [[${cat.no}]])" th:text="${cat.name}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- 한줄 소개 -->
                        <div class="mb-3">
                            <label for="moim-info" class="form-label">한줄 소개</label>
                            <input name="info" type="text" class="form-control" id="moim-info" placeholder="한줄 소개 입력">
                        </div>
                        <!-- 타이틀 소개 -->
                        <div class="mb-3">
                            <label for="moim-title" class="form-label">타이틀</label>
                            <input name="title" type="text" class="form-control" id="moim-title" placeholder="타이틀 입력">
                        </div>
                        <!-- 내용 입력 소개 -->
                        <div class="mb-3">
                            <label for="moim-content" class="form-label">내용</label>
                            <textarea name="content" id="moim-content" class="form-control" style="resize: none;"
                                      placeholder="내용 입력"></textarea>
                        </div>
                        <!-- 사진 -->
                        <div class="mb-3 moim-photo" data="photo1" style="cursor: pointer">
                            <label for="photo1" class="form-label">사진 추가</label>
                            <div class="card">
                                <div class="card-body" style="border: 2px dashed black">
                                    <input name="photo" id="photo1" class="form-control" aria-label="file example"
                                           style="display: none" type="file" accept=".jpg,.jpeg,.png">
                                    <label for="photo1">
                                        <div style="width: 100%; height: 100%">사진 추가</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 moim-photo" data="photo2" style="cursor: pointer">
                            <label for="photo1" class="form-label">사진 추가</label>
                            <div class="card">
                                <div class="card-body" style="border: 2px dashed black">
                                    <input name="photo" id="photo2" class="form-control" aria-label="file example"
                                           style="display: none" type="file" accept=".jpg,.jpeg,.png">
                                    <label for="photo2">
                                        <div style="width: 100%; height: 100%">사진 추가</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 moim-photo" data="photo3" style="cursor: pointer">
                            <label for="photo1" class="form-label">사진 추가</label>
                            <div class="card">
                                <div class="card-body" style="border: 2px dashed black">
                                    <input name="photo" id="photo3" class="form-control" aria-label="file example"
                                           style="display: none" type="file" accept=".jpg,.jpeg,.png">
                                    <label for="photo3">
                                        <div style="width: 100%; height: 100%">사진 추가</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="moimAdd()">추가</button>
                </div>
            </div>
        </div>
    </div>

    <footer style="height: 200px"></footer>

    <script src="/common/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript">
        const categoryNo = document.querySelector("input[name=categoryNo]");
        const categoryName = document.getElementById("categoryName");
        const photo1 = document.getElementById("photo1");
        const photo2 = document.getElementById("photo2");
        const photo3 = document.getElementById("photo3");
        let idx = 1;
        const localIdx = document.getElementsByClassName("localIdx");

        const categoryChange = (name, no) => {
            categoryNo.value = no;
            categoryName.innerText = name;
        }

        $(".moim-photo").on('click', function(event) {
            event.stopPropagation();
            const photo = this.getAttribute("data");
            if(photo === "photo1") {
                // alert("1");
                photo1.click();
            } else if(photo === "photo2") {
                // alert("2");
                photo2.click();
            } else if(photo === "photo3") {
                // alert("3");
                photo3.click();
            }
        })

        const moimAdd = () => {
            const f = document.getElementById("f");
            let form = new FormData(f);
            form.append("memberId", "master")

            $.ajax({
                url: "/moim/add",
                type: "POST",
                data: form,
                processData: false,
                contentType: false,
                success: function(res, status) {
                    console.log("res");
                    console.log(res);
                    console.log("\n");
                    console.log("status");
                    console.log(status);
                },
                error: function(res) {
                    console.log("status: " + res.status);
                }
            });
        }

        $(".loc-btn").on('click', function() {
            let symbol = this.innerText;

            if(symbol === "<") {
                idx = idx - 1;
                if(idx === 0) {
                    idx = 4;
                }
            } else {
                idx = idx + 1;
                if(idx === 5) {
                    idx = 1;
                }
            }
            $.ajax({
                url: "/local/list?no=" + idx,
                type: "get",
                dataType: "json",
                success: function (res, status) {
                    let cnt = 0;
                    for (let data of res) {
                        let contents = localIdx[cnt++];
                        if(data.no !== null) {
                            $(".card-img-top", contents).css('display', '');
                            $(".card-img-top", contents).attr('src', '/img/loc_logo/' + data.ename + ".svg");
                            $(".card-title", contents).text(data.name);
                        } else {
                            $(".card-img-top", contents).css('display', 'none');
                            $(".card-img-top", contents).attr('src', '');
                            $(".card-title", contents).text('');
                        }
                    }
                }
            })
        })
    </script>
</body>
</html>